<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>QWIZLY</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>QWIZLY</h1>

        <h3>
            Welcome, {{ username }} 👋
        </h3>

        <br>

        <form action="/instructions">
            <button type="submit">
                🚀 Start Quiz
            </button>
        </form>

        <br>

        <a href="/logout">
            <button type="button">
                Logout
            </button>
        </a>

    </div>

</body>
</html>